/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Переключение темы */

  --page-background-image: url(../images/cover-image-dark.png);
  --main-color: rgb(0 0 40 / 1);
  --secondary-color: rgb(255 0 112 / 1);
  --accent-color: rgb(219 0 255 / 1);
  --shadow-color: rgb(255 0 112 / 1);
  --text-color: rgb(241 178 206 / 1);
  --title-color: rgb(255 0 112 / 1);
  --sub-title-color: rgb(0 0 40 / 1);
  --decoration-color: rgb(255 0 112 / 1);
  --button-color: rgb(255 0 112 / 1);
  --button-hover-outline-color: rgb(255 0 112 / 0.4);

  /* Адаптивность */

  --text-size: 18px;
  --min-viewport-block-size: 668px;
  --font-size-slogan: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --decoration-offset: 10px;
  --page-padding: 0 10px;
  --header-padding: 10px 0;
  --main-margin: 40px 0;
  --gallery-gap: 10px;
  --section-gap: 50px;
}

@media (768px <= width < 1024px) {

  :root {
    --page-padding: 0 20px;
    --header-padding: 20px 0;
    --main-margin: 60px 0;
    --min-viewport-block-size: 1024px;
    --font-size-slogan: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --decoration-offset: 20px;
    --gallery-gap: 20px;
    --section-gap: 80px;
  }
}

@media (width >= 1024px) {

  :root {
    --page-padding: 0 20px;
    --header-padding: 20px 0;
    --main-margin: 60px 0;
    --min-viewport-block-size: 768px;
    --font-size-slogan: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --decoration-offset: 20px;
    --gallery-gap: 20px;
    --section-gap: 80px;
  }
}